:global {
    html {
        font-size: 100PX;
    }
    html, body {
        height: 100%;
    }

    h1,h2,h3,h4,h5 {
        margin-bottom: 0;
    }

    .ant-layout {
        height: 100%;
    }

    #root {
        height: 100%;
    }

    .ant-card-head{
        background: #f7f7f7;
    }

    .main-page-component {
        background-color: rgb(240, 242, 245) !important;
    }
}
